<h4>CV/ML/AI </h4>
<p>Rigid Body Registration, Landmark Regression, Signal Detection, Object Localization,
Recommender Systems, Data Augmentation, Custom NN Layers/Loss/Metrics,
Ensembles/Boosting, Inference Optimization, Model Deployment</p>
<h4>Languages</h4>
<p>Python, C/C++, Shell Scripting/Command Line, MATLAB, R</p>
<h4>Libraries</h4>
<p> PyTorch, Keras, Tensorflow, NumPy, scikit-learn OpenCV, TensorRT, SciPy</p>
<h4>Operational</h4>
<p> Ubuntu, Docker, Gitlab CI/CD, Github</p>
<h4>Mathematics</h4>
<p>Applied Signal and Image Processing, Numerical Analysis, Numerical Methods</p>
</ul>